<h1>Welcome back, <%= @server.username %></h1>

<h3>Your orders today!</h3>

<div class="add-party-button">
  <%= link_to "Add new party!", new_party_path %>
</div>


  <% @parties.each do |party| %>
  <div class="parties-div">
    <ul>
      <li class="card-li">Party #: <%= link_to( party.id, party_path(party.id) ) %></li>
      <li></li>
    </ul>
  </div>
  <% end %>

<div class="logout-button"><%= button_to "Logout", '/sessions', method: :delete %></div>
