<% @foods.each do |food|%>
  <ul>
    <li class="food-list"><%= food.name %></li>
    <li class="food-list"><%= food.cost %></li>
  </ul>
  <%= link_to "Edit Item", edit_food_path(food.id), class: "edit-food-button" %>

<%end%>
